
.app{
  background-image: url('https://www.niswey.com/hubfs/How%20Technology%20Impacts%20SEO%20Case%20Study.jpg');
  background-size: cover;
  height: 100%;
  
}
.row{
 display: flex;
 height: 100%;

}

.container{
  
display: flex;
  margin-left: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading{
 
  font-family: 'Libre Baskerville', serif;
  color: forestgreen;
  text-align: center;

  

}
/* 
.radio{

  margin-top: 50px;
 

} */
#male{
  font-family: 'Libre Baskerville', serif;
  margin-left: -180px;
  
}
#female{
  font-family: 'Libre Baskerville', serif;
  margin-left: 50px;
}
.age{
  margin-top: 50px;
 
}
.height{
  margin-top: 30px;
}
.weight{
  margin-top: 30px;
}
.title{
  margin-bottom: 10px;
  font-family: 'Libre Baskerville', serif;
}
.btn{

  position: relative;
  top: -80px;
  left: -35px;

}
.btn2{
  
  position: relative;
  top: -80px;
  left: -200px;

}

#outlined-basic{
  width: 350px;
}
.output{
  height: 100px;
  width: 350px;
  background-color: whitesmoke;
  margin-left: 100px;
  margin-top: 190px;
}
.result{
  color: green;
  font-size: 25px;
}